$light-grey: rgb(224, 222, 227);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$shadow: rgb(242, 242, 242);

h2 {
  color: $white;
  text-align: center;
}

.skill-container {
  background-color: $white;
  border-radius: 25px;
  box-shadow: 0 0 4px $shadow;
  color: $black;
  display: inline-block;
  padding: 0;
  width: 60%;
}

.left,
.right,
.center {
  float: left;
  text-align: center;
  vertical-align: baseline;
  width: 33%;
}

.center {
  border-left: solid $light-grey 1px;
  border-right: solid $light-grey 1px;
}

.skill-container::after {
  clear: both;
}

ul {
  list-style: none;
  padding: 0%;
}
