<div>
    <h2>Skills and Programming Languages</h2>

    <div class='skill-container' #skillContainerRef>
        <div class='left' #leftRef>
            <ul>
                <li>Java</li>
                <li>C++</li>
                <li>Python</li>

            </ul>

        </div>
        <div class='center' #centerRef>
            <ul>
                <li>HTML5</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJS</li>
                <li>git</li>
            </ul>
        </div>
        <div class='right' #rightRef>
            <ul>
                <li>Azure Functions</li>
                <li>SQL</li>
                <li>NOSQL</li>
                <li>MONGODB</li>
                <li>MySQL</li>
                <li>SQLServer</li>
            </ul>
        </div>

    </div>
</div>