$navy: rgb(13, 3, 102);
$lilac: rgb(129, 66, 245);
$red: rgb(255, 0, 0);
$white: rgb(255, 255, 255);

.start-proj-container {
  background-color: $navy;
  border: 1px $navy solid;
  border-radius: 25px;
  box-shadow: 0 0 4px $navy;
  color: $white;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  padding: 2%;
  position: relative;
  top: -15%;
  width: 60%;
}

.start-proj-item {
  flex-grow: 1;
  width: 33%;
}

.item1 {
  font-size: x-large;
  font-weight: bold;
}

.item2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.footerBtn {
  width: 50%;
  padding: 5%;
}
