$lilac: rgb(129, 66, 245);
$lightGrey: rgb(224, 222, 227);

.testimonial-btn {
    display: none;
}

.selected-testimonial-btn {
    color: $lilac;
}

.selected-testimonial-btn-label {
    border: 2px $lilac solid;
    background-color: $lilac;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 5px;
}

.unselected-testimonial-btn-label {
    border: 2px $lightGrey solid;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 5px;
}