.proj-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.proj-image {
  width: 50px;
}

.card {
  margin: 1rem;
  display: flex;
}
