$lilac: rgb(129, 66, 245);
$light-grey: rgb(224, 222, 227);

.testimonial-btn {
  display: none;
}

.selected-testimonial-btn {
  color: $lilac;
}

.selected-testimonial-btn-label {
  background-color: $lilac;
  border: 2px $lilac solid;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 5px;
  width: 10px;
}

.unselected-testimonial-btn-label {
  border: 2px $light-grey solid;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 5px;
  width: 10px;
}
