<div class='main-container'>
    <app-header></app-header>
    <app-cover></app-cover>
</div>

<app-purple-section>
    <app-section class="section-text" style="white-space: pre;" title="Hi, I'm Souad." description="I am a student majoring in Computer Science at the American University of Beirut.
    I enjoy coding and am very enthusiastic when it comes to solving programming problems."></app-section>
    <app-skill-container class="section-list"></app-skill-container>
</app-purple-section>

<hr>

<app-work-history-section></app-work-history-section>

<app-purple-section>
    <app-section class="section-text" style="white-space: pre;" title="Projects" description="These are projects I have worked on in University."></app-section>
    <app-proj-list class="section-list"></app-proj-list>
</app-purple-section>


<hr style="margin-top: 475px;">

<app-testimonials></app-testimonials>

<app-footer></app-footer>