<div class='main-container'>
  <ag-app-header></ag-app-header>
  <ag-app-cover></ag-app-cover>
</div>

<ag-app-purple-section height="17rem">
  <ag-app-section class="section-text" style="white-space: pre;" title="Hi, I'm Souad." description="I am a student majoring in Computer Science at the American University of Beirut.
    I enjoy coding and am very enthusiastic when it comes to solving programming problems."></ag-app-section>
  <ag-app-skill-container class="section-list"></ag-app-skill-container>
</ag-app-purple-section>

<ag-app-work-history-section></ag-app-work-history-section>

<ag-app-purple-section height="15rem">
  <ag-app-section class="section-text" style="white-space: pre;" title="Projects"
    description="These are projects I have worked on in University."></ag-app-section>
  <ag-app-proj-list class="section-list"></ag-app-proj-list>
</ag-app-purple-section>


<ag-app-testimonials></ag-app-testimonials>

<ag-app-footer></ag-app-footer>