<ag-app-purple-section height="25rem">
    <ag-app-footer-project class="section-text"></ag-app-footer-project>
    <div class="section-list">
        <span class='footer-quote'>
            Learning and leveling up one line of code at a time.
        </span>
        <div class='social-div'>
            <a href="https://github.com/smb46" class="icon-div">
                <i class="pi pi-github icon" ></i>
            </a>
            <a href="https://linkedin.com/in/souad-bdeir" class="icon-div">
                <i class="pi pi-users icon" ></i>
            </a>
        </div>
    </div>
</ag-app-purple-section>