$light-grey: rgb(224, 222, 227);
.footer-quote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.social-div {
  height: auto;
  margin-top: 5%;
}
.social-icon {
  border: 2px var(--light-grey) solid;
  border-radius: 25px;
  padding: 0%;
}

.social-1 {
  background-image: url(../../../../assets/images/github.svg);
  background-size: 100% 100%;
  display: inline-block;
  height: 40px;
  margin: 0;
  margin-right: 0.5%;
  width: 40px;
}

.social-2 {
  background-image: url("../../../../assets/images/linkedin.png");
  background-size: 100% 100%;
  display: inline-block;
  height: 40px;
  margin: 0;
  margin-left: 0.5%;
  width: 40px;
}

.social-1:hover {
  background-image: url("../../../../assets/images/github2.png");
}

.social-2:hover {
  background-image: url("../../../../assets/images/linkedin2.png");
}

.section-list {
  color: $light-grey;
}
