<app-purple-section>
    <app-footer-project class="section-text"></app-footer-project>
    <div class="section-list">
        <span class='footer-quote'>
            Learning and leveling up one line of code at a time.
        </span>
        <div class='social-div'>
            <a href="https://github.com/smb46">
                <div class='social-icon social-1'></div>
            </a>
            <a href="https://linkedin.com/in/souad-bdeir">
                <div class='social-icon social-2'></div>
            </a>
        </div>
    </div>
</app-purple-section>