$dark-grey: rgb(52, 51, 61);
$light-grey: rgb(224, 222, 227);

.companies-title {
  color: $dark-grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.companies-div {
  margin-top: 17em;
  border-top: 0.01rem $light-grey solid;
  padding-top: 7rem;
  text-align: center;
}

.company-logo {
  margin: 3% 7% 5%;
  width: 10%;
  height: 10%;
}

.company-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
  width: 60%;
}
